//COLORS
$backgroundColor: #121212;
$skillsBackground: #000;

$mainFontColor: #fff;
$secondaryFontColor: #757575;

$circleColor: #cacaca;

$leftGradientColor:#802775;
$rightGradientColor:#dc071e;

//FONTS

	//font family

	$mainHeaderFont:Neptune;
	$mainFont: Montserrat;
	$secondaryFont:"Noto Sans";

	//line-height

	$basicLineHight: 1em;
	$secondaryTextLinehight: 13px;

	//font-size
	$mainHeaderFontSize:90px;
	$secondaryFontSize: 7px;

	

//BACKGROUND IMAGES
$headerImg: url("../img/header-background.png");

//MEDIA QUERY BREAK POINTS
$small:600px;
$medium:750px;


