$backgroundColor: #121212;
$clientBackground: #E67A7A;
$skillsBackground: #000;

$mainFontColor: #fff;
$secondaryFontColor: #757575;


$mainFont : Montserrat;
$secondaryFont :"Noto Sans";

$headerImg: url("../img/header-background.png");


$purple: #802775;
$red: #dc071e;

@mixin gradient($leftColor:$purple, $rightColor:$red) {
  background: -webkit-linear-gradient(left, $leftColor , $rightColor); 
  background: -o-linear-gradient(right, $leftColor , $rightColor); 
  background: -moz-linear-gradient(right, $leftColor , $rightColor); 
  background: linear-gradient(to right, $leftColor , $rightColor); 
  }


section {
	//border: 1px solid white;
}

* {
	box-sizing: border-box;
	//border: 1px solid white;
}

body {
	background: $backgroundColor;
	color: $mainFontColor;
	font-family: $mainFont;
	margin:0;
}
.outsideContainer {
	width: 960px;
}

.outsideContainer .lastCol {
	margin-right:0;
}

body div .firstRow {
	margin-top:0;
}

h1 {
	padding-top:200px;
	font-family: Neptune;
	font-size: 90px;
	text-align:center;
	padding-left:15px;
	//letter-spacing: 9px;
	
}
h2 {
	font-size: 18px;
	font-weight: bold;
}
h3 {
	font-size: 13px;
	font-weight: bold;
}

li {
	display: inline-block;
}

.container {
	width:585px;
	margin:auto;
	//padding-left: 187.5px;
	//padding-right: 187.5px;
}

sup {
	color: $secondaryFontColor;
	font-family: $secondaryFont;
	font-size: 13px;
	font-style: italic;
	position:relative;
}

header{
	height: 540px;
	background-image: $headerImg;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	img {
		margin-top:20px;
		border: 1px solid $mainFontColor;
		height:25px;
		width:25px;
		padding:5px;
		float:right;
	}

	p {
		margin-top:19px;
		margin-left:303px;
		font-family:$secondaryFont;
		font-style: italic;
		border-top: 1px solid white;
		display:inline-block;
		font-size: 9px;
		line-height: 13px;
		letter-spacing:0.4px;
	}
}

.services {
	padding-top:48.5px;
	padding-bottom:62px;

	h2 {
	margin-bottom:28px;
	}

	li {
	width: 185px;
	margin-right:5px;
	margin-top:46px;
	}

	img {
	border-bottom: 1px solid $secondaryFontColor;
	width:35px;
	height:auto;
	padding-bottom: 9px;
	padding-right:5px;
	padding-left:5px;
	}

	h3 {
	margin-top:15px;
	margin-bottom:12px;
	}

	p {
	color: $secondaryFontColor;
	font-family: $secondaryFont;
	font-size: 7px;
	line-height:13px;
	}
}

.process {
	padding-top:67px;
	padding-bottom:60px;

	div {
	display:inline-block;
	width: 185px;
	margin-right:5px;
	margin-top:21px;
	}

		.separator {
		margin-top:120px; //ez miert nem mukodik???????????
		display:block;
		width: 100px;
		height: 1px;
		@include gradient;
		margin-top:0;
		
		}

		span {
		font-size: 34pt;
		font-weight: bold;
		}

		sup {
		top:-17px;
		}

		h3 {
		margin-top:12px;
		margin-bottom:11px;
		}

		p {
		color: $secondaryFontColor;
		font-family: $secondaryFont;
		font-size: 7px;
		line-height:13px;
		}
}

.clients {
	padding-top:41px;
	padding-bottom:43px;
	@include gradient;

	h2 {
	margin-bottom:30px;
	}

	li {
	width: 24%;
	}
}



.pricing {
	padding-top:51px;
	padding-bottom:65px;

	h2 {
		margin-bottom:26px;
	}

	.box {
		display: inline-block;
		width:125px;
		height:305px;
		margin-right:15px;
		border: 2px solid $secondaryFontColor;
		padding: 15px;
		position:relative;
	}

		h3 {
			//margin-top:15px;
			margin-bottom:12px;
		}

		.priceTag {
			text-align:right;
			position:relative;
			margin-bottom:12px;
		}

			.number {
				font-size: 36px;
				font-weight: bold;
				padding-bottom:15px;
				font-style:normal;
			}

			sup {
				top:-9px;
				left:3px;
			}

		.separator {
			display:block;
			width: 95px;
			height: 1px;
			@include gradient;	
		}

		li {
			color: $secondaryFontColor;
			font-family: $secondaryFont;
			font-size: 7px;
			line-height:13px;
			width:100%;
		}

		li:first-child {
			padding-top:15px;
		}

			span{
				color: $mainFontColor;
				font-style: italic;
			}
		ul {
		margin-bottom:20px;
		}

		a {
		display:block;
			padding-top:16px; //????????????????????????????/
			//padding-bottom:10px;
			text-align:center;
			font-size:7px;
			font-weight:bold;
		}
}




.skills {
	background:$skillsBackground;
	padding-top:65px;
	padding-bottom:75px;
}
.blog {
	padding-top:55px;
	padding-bottom:70px;
}

.contactUs {
	padding-top:60px;
	padding-bottom:65px;
}


.socialMedia li {
	width: 24.8%;
	margin:auto;
	text-align:center;
}
.socialMedia ul {
	border-top: 2px solid $secondaryFontColor;
	border-bottom: 2px solid $secondaryFontColor;
	padding-top:11px;
	padding-bottom:10px;
}


footer {
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
	background: $clientBackground;
}
