$backgroundColor: #121212;
$clientBackground: #E67A7A;
$skillsBackground: #000;

$mainFontColor: #fff;
$secondaryFontColor: #757575;

$circleColor: #cacaca;

$mainFont: Montserrat;
$secondaryFont:"Noto Sans";

$headerImg: url("../img/header-background.png");


$purple: #802775;
$red: #dc071e;

@mixin gradient($leftColor:$purple, $rightColor:$red) {
  background: -webkit-linear-gradient(left, $leftColor , $rightColor); 
  background: -o-linear-gradient(right, $leftColor , $rightColor); 
  background: -moz-linear-gradient(right, $leftColor , $rightColor); 
  background: linear-gradient(to right, $leftColor , $rightColor); 
  }

.secondaryText {
	color: $secondaryFontColor;
	font-family: $secondaryFont;
	font-size: 7px;
	line-height:13px;
}


section {
	//border: 1px solid white;
}

* {
	box-sizing: border-box;
	//border: 1px solid white;
}

body {
	background: $backgroundColor;
	color: $mainFontColor;
	font-family: $mainFont;
	margin:0;
	font-size:7px;
}
.outsideContainer {
	//width: 960px;
}



h1 {
	padding-top:200px;
	font-family: Neptune;
	font-size: 90px;
	text-align:center;
	padding-left:15px;
	//letter-spacing: 9px;
	
}
h2 {
	font-size: 18px;
	font-weight: bold;
}
h3 {
	font-size: 13px;
	font-weight: bold;
}

li {
	display: inline-block;
}

.container {
	width:585px;
	margin:auto;
}

sup {
	color: $secondaryFontColor;
	font-family: $secondaryFont;
	font-size: 13px;
	font-style: italic;
	position:relative;
}

header{
	height: 540px;
	background-image: $headerImg;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	img {
		margin-top:20px;
		border: 1px solid $mainFontColor;
		height:25px;
		width:25px;
		padding:5px;
		float:right;
	}

	p {
		margin-top:19px;
		margin-left:303px;
		font-family:$secondaryFont;
		font-style: italic;
		border-top: 1px solid white;
		display:inline-block;
		font-size: 9px;
		line-height: 13px;
		letter-spacing:0.4px;
	}
}

.services {
	padding-top:48.5px;
	padding-bottom:62px;

	h2 {
	margin-bottom:28px;
	}

	li {
	width: 185px;
	margin-right:5px;
	margin-top:46px;
	}

	img {
	border-bottom: 1px solid $secondaryFontColor;
	width:35px;
	height:auto;
	padding-bottom: 9px;
	padding-right:5px;
	padding-left:5px;
	}

	h3 {
	margin-top:15px;
	margin-bottom:12px;
	}
}

.gallery {
	width:100%;
	margin:0;
	padding:0;

	.grid-item { 
		width:19.8%;
		//border:1px solid white;
		display:inline-block;
		padding:1px;
		vertical-align:top;
		}

	img{
		width:100%;
		filter: grayscale(1);
		-webkit-filter: grayscale(1);
		-moz-filter: grayscale(1);
		-o-filter: grayscale(1);
		-ms-filter: grayscale(1);
		}
	
	a {
		display:block;
		text-align:center;
		width:485px;
		margin:auto;
		height:25px;
		@include gradient;
		padding-top:10px;
		margin-top:70px;
		}
	img:hover {
	//opacity:1;
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	}
}

.process {
	padding-top:67px;
	padding-bottom:60px;

	div {
	display:inline-block;
	width: 185px;
	margin-right:5px;
	margin-top:21px;
	}

		.separator {
		margin-top:120px; //ez miert nem mukodik???????????
		display:block;
		width: 100px;
		height: 1px;
		@include gradient;
		margin-top:0;
		
		}

		span {
		font-size: 34pt;
		font-weight: bold;
		}

		sup {
		top:-17px;
		}

		h3 {
		margin-top:12px;
		margin-bottom:11px;
		}
}

.clients {
	padding-top:41px;
	padding-bottom:43px;
	@include gradient;

	h2 {
	margin-bottom:30px;
	}

	li {
		width:142px;
		margin-top:35px;

		a {
			position:relative;
			top:-9px;
			font-size:10px;
			}

		img{
			width:25px;
		}
	}


}

.pricing {
	padding-top:51px;
	padding-bottom:65px;

	h2 {
		margin-bottom:26px;
	}

	.box {
		display: inline-block;
		width:131px;
		height:305px;
		margin-right:15px;
		border: 2px solid $secondaryFontColor;
		padding: 15px;
		position:relative;
	}

		h3 {
			//margin-top:15px;
			margin-bottom:12px;
		}

		.priceTag {
			text-align:right;
			position:relative;
			margin-bottom:12px;
		}

			sup {
				top:-12px;
				left:3px;
			}

		.separator {
			display:block;
			width: 95px;
			height: 1px;
			@include gradient;	
		}

		li {
			color: $secondaryFontColor;
			font-family: $secondaryFont;
			font-size: 7px;
			line-height:13px;
			width:100%;
		}

		li:first-child {
			padding-top:15px;
		}

			span{
				color: $mainFontColor;
				font-style: italic;
			}
		ul {
		margin-bottom:20px;
		}

		a {
		display:block;
			padding-top:16px; //????????????????????????????/
			//padding-bottom:10px;
			text-align:center;
			font-size:7px;
			font-weight:bold;
		}
}




.skills {
	background:$skillsBackground;
	padding-top:65px;
	padding-bottom:75px;

	h2 {
	margin-bottom:28px;
	}

	li {
	width:131px;
	font-size:13px;
	position:relative;
	//border:1px solid white;
	margin-right:15px;
	}
	ul {
	margin-bottom:122px;
	}
	canvas {
	padding-bottom:20px;
	
	}


	.percentage {
	display:inline-block;
	position:absolute;
	right:0;
	bottom:-3px;
	}

	sup {
	top:-10px;
	}	
}


.testimonials {
	div {
	display:inline-block;
	width: 290px;
	position:relative;
	}

	h3 {
	position:absolute;
	top:5px;
	left:60px;
	width:220px;
	}

	p {
	position:absolute;
	left:60px;
	top:25px;
	color:$mainFontColor;
	font-style:italic;
	}

	.circle {
	width:50px;
	height:50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius:50px;
	background:$circleColor;
	margin-bottom:10px;
	margin-right:10px;
	}

	.separator {
	width:50px;
	margin-bottom:20px;
	}

	span {
	font-weight: bold;
	}
}



.blog {
	padding-top:51px;
	padding-bottom:70px;

	h2 {
	margin-bottom: 40px;
	}

	.featuredPost {
	display:inline-block;
	width: 290px;
	padding-left:150px;
	}

	.separator {
	width:45px;
	margin-top:6px;
	margin-bottom:12px;

	}

	sup {
	top:-10px;
	}

	a {
	font-weight:bold;
	font-size:7px;
	}
}


.socialMedia {
	border-top: 2px solid $secondaryFontColor;
	border-bottom: 2px solid $secondaryFontColor;
	
	ul {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
	}

	li {
		-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
		display:inline-block;
		border-left: 1px solid $secondaryFontColor;
		border-right: 1px solid $secondaryFontColor;
		width: 25%;
		text-align:center;
		vertical-align:top;
		margin-left:-2px;
		}
	li:first-child {
		border-left:none;
		}

	img {
		width:25px;
		}

	a {
		padding-top:16px;
		padding-bottom:10px;
		width:100%;
		//height:44px;
		display:inline-block;
		}

	a:hover {
	@include gradient;
	}
}
.socialMedia ul {
	
}

.contactUs {
	margin-top:60px;
	padding-bottom:65px;

	.contactLeft {
	vertical-align:top;
	width: 290px;
	display:inline-block;
	padding-right:8px;
	}
		.firstRow {
			h3 {
				margin-bottom:10px;
				}
			p {
				margin-bottom:18px;
				}
		}
		.secondRow {
			h3 {
			margin-bottom:8px;
			}
		}
	.contactSub {
	vertical-align:top;
	width: 49%;
	display:inline-block;
	padding-right:20px;
	}
	form {
	width: 290px;
	display:inline-block;
	}
	input, textarea {
	background:transparent;
	border:none;
	color:$mainFontColor;
	line-height:25px;
	padding:0;
	padding-left:5px;
	width:250px;
	height:25px;
	}

	input:focus, textarea:focus { 
	    outline: 0;
	    background: transparent;
	}

	label {
	font-style: italic;
	line-height:25px;
	width: 284px;
	border-bottom: 1px solid $secondaryFontColor;
	}

	.contactButton {
	float:right;
	margin-top:16px;
	height:25px;
	width:85px;
	@include gradient;
	}
}


footer {
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
	@include gradient;
}

.outsideContainer {
	.number {
			font-size: 36px;
			font-weight: bold;
			padding-bottom:15px;
			font-style:normal;
		}

	.separator {
			display:block;
			height: 1px;
			@include gradient;	
		}

	.lastCol {
		margin-right:0;
	}

	.firstRow {
		margin-top:0;
	}
}

